@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --white: #FFF;

    --background-base: #121212;
    --background-tinted-base: hsla(0,0%,100%,.07);
    --background-tinted-base-bright: hsla(0, 0%, 100%, 0.404);
    --background-highlight: #1a1a1a;
    --blur-background: rgba(0,0,0,.5);

    --blue-background-gradient: linear-gradient(150deg, #7c68eea2 70%, #1e8fff9f 100%);

    --primary-text: #FFFFFF;
    --secondary-text: #999999;
    --tertiary-text: #e6e6e6c7;

    /* --logo-color: #1db954; */
    --logo-color-hover: #1db954d8;

    --logo-color: #7B68EE;

    --error-message:  #ff0000a6;

    --primary-button: #1db9549c;
    --primary-button-hover: #1db954d8;
    --secondary-button: #FFFFFF;

    --text-shadow: 0 0 5px rgba(0,0,0,.5);

    --font-family: 'Teko', sans-serif;
    --font-family-title: 'Oswald', sans-serif;

    --font-size: 1.5rem;
    --font-size-title: 3rem;

    --border-radius: 4px;

    --atention: #ff0000;
    
}

/* Scroll Bar */

::-webkit-scrollbar {
    display: auto;

    /* width: 50px; */

    background-color: var(--background-highlight);

    border-radius: 0 0 15px 15px;
}

::-webkit-scrollbar {
    width: 10px;

    overflow: hidden;
}
  
  /* Track */
.playlist-container::-webkit-scrollbar-track {
    background: var(--background-tinted-base);

    border-radius: 0 0 15px 0;
}

.main-playlist::-webkit-scrollbar-track {
    background: var(--background-tinted-base);

    border-radius: 0 15px 15px 0;
}

.main-playlist::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0 15px 15px 0;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    min-height: 50px;
    border-radius: 0 0 15px 0;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Global */

.hidden {
    display: none !important;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style: none;
}

.active {
    color: var(--logo-color)
}

body {
    background-color: var(--background-base);
    color: var(--primary-text);
    font-family: var(--font-family);
    font-size: var(--font-size);
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;

    height: 97vh;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    height: 80px;

    background-color: var(--background-highlight);
}

header img {
    height: 3rem;
    cursor: pointer;
}

header ul {
    display: flex;
    gap: 1rem;

    color: var(--secondary-text);
    cursor: default;
}

header ul li {
    transition: color .3s;
}

header ul li:hover {
    color: var(--primary-text);
}

/* Login & Register */

#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

#login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    background-color: var(--background-tinted-base);
    border-radius: var(--border-radius);

    box-shadow: 0 0 10px rgba(0,0,0,.5);
    max-width: 600px;
    color: var(--primary-text);
}

#login-form h1 {
    font-size: var(--font-size-title);
    font-family: var(--font-family-title);
    text-align: center;
}

#login-form div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    width: 450px;
}

#login-form label {
    width: 90%;
    text-transform: uppercase;
}

#login-form input {
    padding: .5rem;
    width: 90%;
    background-color: var(--background-tinted-base);
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    color: var(--primary-text);
}

#login-form input[type="submit"] {
    padding: .5rem;
    background-color: var(--primary-button);
    color: var(--secondary-button);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-transform: uppercase;
}

#login-form input[type="submit"]:hover {
    background-color: var(--primary-button-hover);
    color: var(--secondary-button);
}

#login-form input[type="submit"]:active {
    background-color: var(--primary-button);
    color: var(--secondary-button);
}

#login-form-footer {
    display: flex;
    flex-direction: column;
    gap: 0px !important;
}

#login-form p {
    color: var(--secondary-text);
    cursor: default;
}

#login-form #error-message {
    height: min-content;
    color: var(--error-message);
}

#login-form p a {
    color: var(--primary-button);
    transition: color .3s;
}

#login-form p a:hover {
    color: var(--logo-color-hover);
}

/* Middle Container */

.middle-container {
    display: flex;

    width: 100%;
    height: 81%;

    padding: 10px;
    gap: 10px;
}

/* Left Menu */

.left-container {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 100%;

    gap: 0.5rem;
}

.left-container .sizeable-handle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 100%;

    right: -5px;
    top: 0;
    bottom: 0;

    cursor: col-resize;
}

.left-container .sizeable-handle .sizeable-handle-inner {
    width: 2px;
    height: 100%;
}

.left-container .sizeable-handle:hover .sizeable-handle-inner {
    background-color: var(--background-tinted-base-bright);
}

.selectors-container {
    display: flex;

    width: 100%;
    background-color: var(--background-highlight);

    padding: 10px;
    border-radius: 15px 15px 0 0;
}

.selectors-container .selectors {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 0.5rem;

    color: var(--secondary-text);
}

.selectors-container .selectors i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.selectors-container .selectors p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.selectors-container .selectors p:hover {
    color: var(--logo-color);
}

/* Left Menu - Playlist */

.playlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 15px; */
    width: 100%;
    height: 100%;
    background-color: var(--background-highlight);

    border-radius: 0 0 15px 15px;

    overflow-y: scroll;
    overflow-x: hidden;
}

.playlist-container .playlist-preview {
    display: flex;
    align-items: center;
    width: 99%;
    padding: 15px;
    gap: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.playlist-container h1 {
    padding: 0 15px;
}

.playlist-container img {
    width: 30%;
}

.playlist-container .playlist-preview:hover {
    background-color: var(--background-tinted-base);
}

.playlist-container .playlist-preview .playlist-preview-info p:nth-child(2) {
    color: var(--secondary-text);
}

.playlist-container .playlist-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.playlist-container .playlist-header i {
    padding: 10px;
    margin-right: 10px;
    background-color: var(--background-base);
    border-radius: 100%;

    cursor: pointer;
}

.playlist-container .playlist-header i:hover {
    background-color: var(--background-tinted-base);
    color: var(--logo-color);
}

/* Left Menu - Minimized */

.left-container.minimized .selectors-container {
    justify-content: center;
}

.left-container.minimized span {
    display: none;
}

.left-container.minimized h1 {
    display: none;
}

.left-container.minimized .playlist-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.left-container.minimized i {
    margin: 0;
}

.left-container.minimized .playlist-preview-info  {
    display: none;
}

.left-container.minimized img {
    width: 50px;
    height: 50px;
}


/* Main Playlist Container */

.main-playlist {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
    overflow-y: scroll;

    border-radius: 15px;

    user-select: none;

    background: linear-gradient(180deg, #6b5acaa2 5%, var(--background-tinted-base) 50%);
}

.main-playlist .main-playlist-info {
    display: flex;
    width: 100%;
    height: min-content;

    align-items: center;

    padding: 15px;
    gap: 1rem;
    text-transform: uppercase;
}

.main-playlist .main-playlist-info p {
    color: var(--tertiary-text);
}


table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}


thead {
    border-bottom: 1px solid var(--background-base);
}

th, td{
    padding: 10px 20px;
    text-align: left;
}

.song {
    cursor: default;
}

.song:hover {
    background-color: var(--background-tinted-base);
}

.song-id {
    pointer-events: none;
    width: 15px;
}

/* AD Section */

.ad-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    padding: 15px;
    justify-content: center;
    gap: 1rem;
}

.ad-container img {
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.ad-container .ad {
	position: relative;
    overflow: hidden;
    border-radius: 15px;
}.ad-container .ad::before {
	position: absolute;
	top: 0;
	left: -100%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.ad-container .ad:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}

@keyframes shine {
	100% {
		left: 125%;
	}
}

/* Music Player */

.music-player {
    display: flex;

    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    bottom: 0;
    padding: 1rem;

    width: 100%;

    background-color: var(--background-highlight);
}

.music-player .music-info {
    position: relative;
    display: flex;
    align-items: center;

    gap: 1.2rem;
}

.music-player .music-info #song-info {
    position: absolute;
    width: max-content;

    left: 120%;
    width: 200px;
    text-wrap: nowrap;
    color: var(--atention);
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
}

#cover-art {
    width: 5vw;
    height: 5vw;
    border: 1px solid white;
}

#song-info {
    display: flex;
    flex-direction: column;
    transform: translateY(5px);
    font-size: 1.2rem;
    gap: 0px;
}

#song-info span:nth-child(2) {
    color: var(--secondary-text);
    transform: translateY(-10px);
    cursor: default;
}

/* Music Player - Controls */

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .buttons-container {
    display: flex;
    justify-content: space-evenly;

    width: 50%;
}

.controls button {
    border: none;
    background-color: transparent;
    color: var(--secondary-text);
    cursor: pointer;
}

.controls button:active {
    color: var(--primary-text);
}

.controls button i {
    font-size: 3vh;
}


/* Music Player - Progress */

.progress {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.progress-filled {
    position: relative;
    width: 34vw;
    display: flex;
}

.progress-filled input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    height: 11px;
    background-color: var(--background-tinted-base);
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}

.progress-filled input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    background-color: var(--background-base);
    cursor: pointer;
    border: 3px solid var(--logo-color);
    border-radius: 100%;
    transition: .3s ease;

    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.progress-filled-inner {
    position: absolute;
    top: 0;
    left: 0;

    width: 0%;
    max-width: 99%;
    height: 11px;

    border-radius: 50px 0 0 50px;
    background-color: var(--logo-color);

    pointer-events: none;
    z-index: -1;
}

.progress p {
    width: 35px;
    color: var(--secondary-text);
    cursor: default;
}
/* Music Player - Volume */

.volume {
    display: flex;
    align-items: center;
}

.volume-container {
    position: relative;
}

/* .volume i {
    cursor: pointer;
} */

.volume input {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 10vw;
    cursor: pointer;
    appearance: none;
    background-color: var(--background-tinted-base);
    border-radius: 50px;
    outline: none;
    height: 11px;
}

.volume input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    background-color: var(--background-base);
    cursor: pointer;
    border: 3px solid var(--logo-color);
    border-radius: 100%;

    box-shadow: 0 0 5px rgba(0,0,0,.5);

    position: relative;
}

.volume-range {
    position: absolute;
    top: 0;
    left: 0;

    width: 50%;
    height: 11px;

    border-radius: 50px 0 0 50px;
    background-color: var(--logo-color);
    transform: translateY(100%);

    pointer-events: none;

    z-index: 0;
}

.volume i {
    width: 15px;
    margin-right: 1rem;
}

/* Add Music Container */

.add-music-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--blur-background);
    z-index: 101;
}

.add-music-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 60%;
    height: 60%;
    padding: 1rem;
    border-radius: 15px;

    background-color: var(--background-highlight);
    opacity: 1;
    z-index: 102;
}

.add-music-inner form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.add-music-inner form label {
    color: var(--secondary-text);
    cursor: default;
}

.add-music-inner form input {
    width: 100%;
    color: var(--white);

    padding: .5rem;
    outline: none;
    border: 0;
    border-radius: var(--border-radius);
    background-color: var(--background-tinted-base);
}

.add-music-inner .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 100%;
}

.add-music-inner .buttons button {
    width: 100%;
    padding: .5rem;
    border: 0;
    border-radius: var(--border-radius);
    background-color: var(--background-tinted-base);
    color: var(--white);
    cursor: pointer;
}

.add-music-inner .buttons button:nth-child(2):hover {
    background-color: var(--logo-color);
}

.add-music-inner .buttons button:hover {
    background-color: var(--background-base);
}

/* Add music error */

.error {
    background-color: var(--error-message) !important;
}

.modelOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 25%;
    margin-top: 2.7%;
    padding: 13px;
    z-index: 1;
    gap: 20px;
    height: 35%;
    background-color: var(--background-highlight);
}

.Oplog{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 40%;
    gap: 15px;
    border-radius: 50px;
   
}

.Oplog img{
    width: 40px;
    border-radius: 50%;
}

.Oplog p { 
    color: var(--background-base);
    font-weight: bold;
    font-size: 1.8rem;
}

.volte{
    display: flex;
    align-items: center;
    position: sticky;
    gap: 5px;
}

.Oplog:hover {
cursor: pointer;
box-shadow: 0px 0px 10px 5px rgb(22, 128, 163);
}

.volte button{
    background: transparent;
    border: none;
}



